<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "popup"
        version     = "1.0.0" >

    <name>MasterMind</name>
    <description>Mastermind</description>
    <author> 
		Mateusz Burnetko
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />    
        <preference name = "SplashScreen" value = "screen" />
        <preference name = "SplashScreenDelay" value = "3000" />
        <preference name = "SplashMaintainAspectRatio" value = "true" />
        
        
    <icon src="img/MM_Icon.png" />
</widget>