h1{text-align:center;}
p{margin-left:10px;
margin-right:10px;}

#splashscreen{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    z-index: 99;
}